/* additional-list */
.additional-list {
  @include reset-list;
  display: none;
  list-style: none;

  @include paint-bg ($white, $black);
  background-color: transparent;
  width: 100%;
}

.additional-list__item {
  @include reset-list;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

.additional-list__link {
  display: block;
  text-decoration: none;

  @include set-font (bold, 15px, 24px);
  @include paint-bg (inherit, inherit);

  &--delivery {
    @include set-font (normal, 15px, 24px);
  }
  width: 100%;
}

@media screen and (min-width: $tablet-width) {
  .additional-list {
    @include reset-list;
    padding-top: 10px;
    display: flex;
    order: 2;
    background-color: transparent;
    width: 50%;
    min-height: 40px;
  }

  .additional-list__item {
    @include reset-list;
    border: none;

    &--hidden {
      display: none;
    }
  }

  .additional-list__link {
    @include reset-list;
    display: block;
    text-align: right;

    &--hidden {
      display: none;
    }
    width: 100%;
  }
}

@media screen and (min-width: $desktop-width) {
  .additional-list {
    justify-content: flex-start;
    width: 100%;
    min-height: 60px;
  }

  .additional-list__item {
    &--hidden {
      display: block;
      margin-right: auto;
      width: 15.6%;

      &:nth-child(1) {
        margin-right: 3.7%;
      }
    }

    &--delivery {
      margin-right: 0;
      width: 33%;
    }
  }

  .additional-list__link {
    text-align: left;

    &--delivery {
      text-align: right;
    }
  }
}
