/* additional-list */
.additional-list {
  list-style: none;

  @include paint-bg ($white, $black);
}

.additional-list__link {
  text-decoration: none;

  @include set-font (bold, 15px, 24px);
  @include paint-bg (inherit, inherit);
}

.additional-list__link--delivery {
  @include set-font (normal, 15px, 24px);
}

@media screen and (min-width: $tablet-width) {
  .additional-list__link--hidden {
    display: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .additional-list__link--hidden {
    display: block;
  }
}
