/* assortment */
.assortment {
  @include reset-list;
  text-align: center;
  color: $dark-grey;
  background-color: #f9f9f9;
}

.assortment__wrapper {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px auto;
  background-position: center -16px;
  background-repeat: no-repeat;
  position: relative;
  min-height: 487px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .assortment__wrapper {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.assortment__title {
  @include reset-list;
  padding-top: 72px;
  padding-bottom: 10px;
  box-sizing: border-box;

  @include set-font (bold, 27px, 30px);
  color: $black;
  width: 76%;
}

.assortment__item-wrapper {
  @include reset-list;
  margin: auto 0 0;
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.assortment__item {
  @include mobile-container;
  margin: 0;
  padding: 27px 29px;
  position: relative;
  border: none;
  box-sizing: border-box;
  text-align: left;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 100%;

  @include set-font (bold, 19px, 24px);


  &--interior {
    @include paint-bg (#63d1bb, #ffffff);

    &:hover {
      background-color: #59d5bc;
    }
  }

  &--toy {
    @include paint-bg (#56c3b2, #ffffff);

    &:hover {
      @include paint-bg (#56c3b2, #ffffff);
    }
  }

  &:hover .assortment__icon-interior {
    fill: #29a592;
  }

  &:hover .assortment__icon-toy {
    fill: #239f8e;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .assortment__icon-interior {
    fill: #44c0aa;
    opacity: 1;
  }

  &:active .assortment__icon-toy {
    fill: #37b2a0;
    opacity: 1;
  }
}

.assortment__icon-toy,
.assortment__icon-interior {
  position: absolute;
  top: 23px;
  right: 9.5%;
}

.assortment__icon-interior {
  fill: #3bb09d;
}

.assortment__icon-toy {
  fill: #35a999;
}

@media screen and (min-width: $tablet-width) {
  .assortment {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 10;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 23px;
      bottom: 0;
      left: -5px;
      height: 23px;
      width: 100%;
    }
  }

  .assortment__wrapper {
    @include tablet-container;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px auto;
    background-position: center -3px;
    box-sizing: border-box;
    width: 100%;
    min-height: 756px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .assortment__wrapper {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .assortment__title {
    @include reset-list;
    padding-top: 151px;
    padding-bottom: 10px;

    @include set-font (bold, 43px, 50px);
  }

  .assortment__item-wrapper {
    @include reset-list;
    margin: auto;
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(#{percentage(1)} - 100px);
  }

  .assortment__item {
    padding: 27px 36px 43px;

    @include set-font (bold, 20px, 30px);
    width: 50%;

    &:hover {
      bottom: 5px;
      padding-bottom: 48px;
    }
  }

  .assortment__icon-toy,
  .assortment__icon-interior {
    top: 30px;
    right: 10.5%;
  }
}

@media screen and (min-width: $desktop-width) {
  .assortment {
    @include reset-list;
    margin-bottom: 71px;
    background-size: 1250px auto;

    &::before {
      content: "";
      height: 29px;
      background-size: auto 37px;
    }
  }

  .assortment__wrapper {
    @include desktop-container;
    background-image: url("../img/hero-desktop@1x.jpg");
    min-height: 756px;
    width: 100%;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .assortment__wrapper {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .assortment__title {
    @include reset-list;
    padding-top: 154px;

    @include set-font (bold, 53px, 57px);
  }

  .assortment__item {
    padding: 27px 37px 43px;

    &:hover {
      padding-bottom: 36px;
    }
  }

  .assortment__icon-toy,
  .assortment__icon-interior {
    right: 7%;
  }
}
