/* assortment */
.assortment {
  @include reset-list;
  text-align: center;
  color: $dark-grey;
}

.assortment__wrapper {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px auto;
  background-position: center -16px;
  background-repeat: no-repeat;
  min-height: 487px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .assortment__wrapper {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.assortment__title {
  @include reset-list;
  padding-top: 70px;
  padding-bottom: 10px;
  box-sizing: border-box;

  @include set-font (bold, 27px, 30px);
  color: $black;
  width: 76%;
}

.assortment__item-wrapper {
  @include reset-list;
  margin: auto 0 0;
  text-align: left;

  &--left {
    @include paint-bg (#63d1bb, #ffffff);
  }

  &--right {
    margin-top: 0;

    @include paint-bg (#56c3b2, #ffffff);
  }

  width: 100%;
}

.assortment__item {
  @include mobile-container;
  margin: 0;
  padding: 27px 29px;

  @include set-font (bold, 19px, 24px);
  background-color: inherit;
  color: inherit;
  border: none;
  box-sizing: border-box;
  text-align: left;
  display: block;
  width: 100%;
}

@media screen and (min-width: $tablet-width) {
  .assortment {
    background-size: cover;
    background-position: center top;
  }

  .assortment__wrapper {
    @include tablet-container;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px auto;
    box-sizing: border-box;
    width: 100%;
    min-height: 745px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .assortment__wrapper {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .assortment__title {
    @include reset-list;
    padding-top: 29px;
    padding-bottom: 10px;

    @include set-font (bold, 43px, 50px);
  }

  .assortment__item-wrapper {
    @include reset-list;
    margin: auto;
    margin-bottom: 0;
    /*width: calc(#{$tablet-width} * 0.5 - 50px);*/

    &--left {
      margin-right: 0;
    }

    &--right {
      margin-left: 0;
    }
    width: 50%;
  }

  .assortment__item {
    padding: 27px 36px 32px;

    @include set-font (bold, 20px, 30px);
    width: 100%;
  }
}

@media screen and (min-width: $desktop-width) {
  .assortment {
    @include reset-list;
    margin-bottom: 71px;
    background-size: 1250px 746px;
  }

  .assortment__wrapper {
    @include desktop-container;
    background-image: url("../img/hero-desktop@1x.jpg");
    min-height: 745px;
    width: 100%;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .assortment__wrapper {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .assortment__title {
    @include reset-list;
    padding-top: 35px;

    @include set-font (bold, 53px, 57px);
  }

  .assortment__item-wrapper {
    /*width: calc(#{$desktop-width} * 0.5 - 50px);*/
    width: 50%;
  }

  .assortment__item {
    padding: 27px 37px 31px;
  }
}
