/* catalog */
.catalog {
  @include reset-list;
  margin: 0 auto;
}

.catalog__wrapper {
  @include mobile-container;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.catalog-list {
  @include reset-list;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.catalog__item {
  @include reset-list;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include set-font (inherit, inherit, inherit);
}

.catalog-card__link {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  width: 100%;
}

.catalog-card {
  @include reset-list;
  margin: 32px 0;
  margin-bottom: 0;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  border: 1px solid $light-grey;

  &--making {
    @include reset-list;
    margin-bottom: 58px;
    padding-bottom: 33px;
    position: relative;
    z-index: 60;
  }

  &:hover {
    box-shadow: 0 5px 5px 0 #ececec;
  }

  &:active {
    box-shadow: 0 2px 2px 0 #ececec;
  }
}

.catalog-card__title {
  @include reset-list;
  margin-bottom: 6px;
  display: block;

  @include set-font (bold, 17px, 24px);
  color: $black;

  &--video {
    @include reset-list;
    margin: 21px 0 26px;
    padding-left: 34.6%;
    padding-right: 7%;
    min-height: 43px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-video.svg");
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      top: 6px;
      left: 33px;
    }
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-card__picture {
  @include reset-list;
  margin-bottom: 25px;
  display: block;
  width: 100%;

  &--video {
    margin-bottom: 27px;
    position: relative;
    display: block;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.catalog-card__icon-play {
  position: absolute;
  z-index: 40;
  width: 101px;
  height: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover {
    width: 121px;
    height: 92px;
  }

  &:active {
    width: 81px;
    height: 62px;
    opacity: 0.6;
  }
}

.catalog-card__image {
  @include reset-list;
  display: block;
  width: 100%;
}

.catalog-card__wrapper {
  margin: 0 28px;

  &--making {
    display: flex;
    flex-direction: column;
  }

  box-sizing: border-box;
}

.catalog-card__description {
  @include reset-list;
  padding-bottom: 19px;
  display: block;
  border-bottom: 1px solid $light-grey;
  width: 100%;
}

.catalog-card__text {
  @include reset-list;
  display: block;

  @include set-font (normal, 13px, 30px);
  color: $dark-grey;

  &--making {
    margin-top: auto;
    margin-bottom: 25px;
    margin-left: 2.5%;
    padding-right: 7px;

    @include set-font (normal, 13px, 24px);
  }
}

.catalog-card__buy {
  @include reset-list;
  padding-top: 22px;
  position: relative;
}

.catalog-card__price {
  @include reset-list;
  @include set-font (bold, 15px, 24px);
  color: $black;
}

.catalog-card__cart-link {
  padding: 0;
  margin: 0;
  display: block;
  text-decoration: none;
}

.catalog-card__icon-cart {
  position: absolute;
  cursor: pointer;
  top: 22px;
  right: 0;
  opacity: 0.2;
  fill: $black;

  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-card__do {
  margin: auto;
  display: block;
  width: 92.3%;
}

@media screen and (min-width: $tablet-width) {
  .catalog {
    @include reset-list;
    margin: 0 auto;
  }

  .catalog__wrapper {
    @include tablet-container;
    width: 100%;
  }

  .catalog-list {
    @include reset-list;
    margin-top: 78px;
  }

  .catalog-card {
    @include reset-list;
    margin-bottom: 53px;
    flex-direction: row;
    flex-wrap: nowrap;

    &--making {
      margin-bottom: 63px;
      flex-direction: column;
      width: 100%;
    }
  }

  .catalog-card__picture {
    @include reset-list;
    width: 100%;
    height: 100%;

    &--video {
      margin-bottom: 39px;
      order: 0;
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .catalog-card__image {
    width: 100%;
  }

  .catalog-card__wrapper {
    @include reset-list;
    margin-left: 27px;
    margin-right: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;

    &--making {
      @include reset-list;
      margin: 0 auto;
      padding-bottom: 45px;
      justify-content: flex-start;
      order: 2;
      width: 87%;
    }
  }

  .catalog-card__description {
    @include reset-list;
    padding-top: 25px;
    border: none;
  }

  .catalog-card__title {
    @include reset-list;
    margin-bottom: 8px;

    @include set-font (bold, 20px, 24px);

    &--video {
      @include reset-list;
      margin-bottom: 21px;
      padding-left: 15.8%;
      padding-right: 50px;
      order: 1;
      min-height: 35px;

      &::before {
        content: "";
        top: -5px;
        left: 40px;
      }
    }
  }

  .catalog-card__text {
    @include set-font (normal, 15px, 30px);

    &--making {
      @include reset-list;
      margin-left: -0.8%;
      margin-bottom: 36px;
    }
  }

  .catalog-card__buy {
    @include reset-list;
    margin-left: 2%;
    padding-bottom: 27px;
    padding-top: 20px;
    border-top: 1px solid $light-grey;
  }

  .catalog-card__price {
    @include set-font (bold, 17px, 24px);
  }

  .catalog-card__video {
    position: static;
  }

  .catalog-card__do {
    margin-left: -0.6%;
    width: 100%;
  }

  .catalog-card__icon-play {
    width: 104px;
    height: 77px;
  }
}

@media screen and (min-width: $desktop-width) {
  .catalog {
    @include reset-list;
    margin: 0 auto;
  }

  .catalog__wrapper {
    @include desktop-container;
    margin: 130px auto 58px;
    width: 100%;
  }

  .catalog-list {
    @include reset-list;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .catalog-card {
    @include reset-list;
    margin-right: 4.8%;

    &:nth-child(3n) {
      margin-right: 0;
    }

    flex-direction: column;
    width: 30%;

    &--making {
      @include reset-list;
      padding-left: 760px;
      padding-right: 60px;
      padding-bottom: 61px;
      margin-bottom: 103px;
      flex-direction: row;
      box-sizing: border-box;
      display: block;
      width: 100%;
    }
  }

  .catalog-card__picture {
    @include reset-list;
    margin-bottom: 25px;

    &--video {
      margin-bottom: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 680px;

      img {
        min-height: 455px;
      }
    }

    height: auto;
    width: 100%;
  }

  .catalog-card__wrapper {
    @include reset-list;
    margin-left: 26px;
    margin-right: 28px;

    &--making {
      @include reset-list;
      margin-top: 34px;
      width: 100%;
    }

    box-sizing: border-box;
    width: auto;
  }

  .catalog-card__title {
    margin-bottom: 7px;

    &--video {
      @include reset-list;
      margin-top: 93px;
      position: relative;
      right: auto;
      top: auto;
      width: 100%;

      &::before {
        content: "";
        top: -53px;
        left: 0;
      }
    }
  }

  .catalog-card__description {
    @include reset-list;
    margin-bottom: 37px;

    &--toys {
      margin-bottom: 13px;
    }
  }

  .catalog-card__buy {
    @include reset-list;
    padding-bottom: 25px;
    padding-top: 23px;
  }

  .catalog-card__video {
    @include reset-list;
  }

  .catalog-card__text {
    &--making {
      @include reset-list;
      margin-bottom: 46px;
    }
  }

  .catalog-card__do {
    margin-left: 0;
  }

  .catalog-card__icon-cart {
    top: 24px;
    right: 5px;
  }

  .catalog-cart__link {
    flex: 0 0 auto;
    font-size: 0;
  }
}
