/* contacts */
.contacts {
  @include reset-list;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
}

.contacts-wrapper {
  @include mobile-container;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 860px;
}

.contacts__title {
  @include reset-list;
  margin-bottom: 26px;

  @include set-font (bold, 18px, 30px);
  @include paint-bg ($white, $black);
}

.contacts__list {
  @include reset-list;
  display: flex;
  flex-direction: column;

  @include set-font (normal, 15px, 30px);
  @include paint-bg ($white, $dark-grey);

  tr {
    @include reset-list;
    display: flex;
    justify-content: space-between;
  }
}

.contacts__field {
  @include reset-list;
  margin-bottom: 33px;
  display: flex;
}

.contacts__value {
  @include reset-list;
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  width: 70%;
}

.contacts__mail {
  @include reset-list;
  display: flex;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #46c1ae;
}

.contacts__map {
  @include reset-list;
  margin-bottom: 38px;
  position: absolute;
  bottom: 90px;

  img {
    width: 100%;
    height: 457px;
  }
  width: 100%;
}

.contacts__write {
  margin-top: auto;
  margin-bottom: 38px;
}

@media screen and (min-width: $tablet-width) {
  .contacts-wrapper {
    @include tablet-container;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__title {
    @include reset-list;
    margin-bottom: 45px;

    @include set-font (bold, 43px, 50px);
    text-align: left;
    width: 100%;
  }

  .contacts__list {
    @include reset-list;
    flex-direction: row;
    flex-wrap: nowrap;

    @include set-font (normal, 17px, 30px);

    tbody {
      @include reset-list;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
    }

    tr {
      @include reset-list;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 50%;
    }
    width: 100%;
  }

  .contacts__field {
    @include reset-list;
    margin-bottom: 33px;
    display: flex;
    align-items: flex-start;
  }

  .contacts__value {
    @include reset-list;
    margin-bottom: 37px;
    display: flex;
    align-items: flex-start;
  }

  .contacts__map {
    @include reset-list;

    img {
      width: 100%;
      height: 457px;
    }
  }

  .contacts__write {
    @include reset-list;
    margin: 0 auto 57px;
    width: 230px;
  }
}

@media screen and (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 104px;
    padding-top: 81px;
    flex-direction: column;
    width: 1050px;
  }

  .contacts-wrapper {
    @include reset-list;
    margin-left: 168px;
    padding-top: 81px;
    flex-direction: column;
    width: 33.3%;
  }

  .contacts__title {
    @include reset-list;
    margin-bottom: 49px;

    @include set-font (bold, 53px, 57px);
    width: 100%;
  }

  .contacts__list {
    @include reset-list;
    margin-left: 6px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: flex-start;

    tbody {
      @include reset-list;
      flex-direction: column;
      width: 100%;
    }

    tr {
      @include reset-list;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
    }
    width: 100%;
  }

  .contacts__field {
    @include reset-list;
    margin-right: 22px;
    display: flex;
    align-items: flex-start;
    width: 20%;
  }

  .contacts__value {
    @include reset-list;
    margin-bottom: 29px;
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .contacts__map {
    @include reset-list;
    position: absolute;
    top: 91px;
    right: 0;
    width: 525px;

    img {
      width: 525px;
      height: 457px;
    }
  }

  .contacts__write {
    @include reset-list;
    margin-left: 175px;
    width: 227px;
  }
}
