/* contacts */
.contacts {
  @include reset-list;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.contacts-wrapper {
  @include mobile-container;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.contacts__title {
  @include reset-list;
  margin-bottom: 26px;
  padding-top: 34px;
  margin-left: -2px;

  @include set-font (bold, 18px, 30px);
  @include paint-bg ($white, $black);
}

.contacts__list {
  @include reset-list;
  margin-left: -1.5px;
  display: flex;
  flex-direction: column;

  @include set-font (normal, 15px, 30px);
  @include paint-bg ($white, $dark-grey);

  tr {
    @include reset-list;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    &:nth-last-child(1) {
      margin-bottom: 38.5px;
    }
  }
}

.contacts__field {
  @include reset-list;
  display: flex;
}

.contacts__value {
  @include reset-list;
  display: flex;
  align-items: center;
  width: 70%;
}

.contacts__mail {
  @include reset-list;
  display: flex;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #46c1ae;
}

.contacts__map {
  @include reset-list;
  margin-bottom: 38px;
  background-image:
    url("../img/icon-map-pin.svg"),
    url("../img/map-mobile@1x.jpg");
  background-size: auto, cover;
  background-position-x: 55%, center;
  background-position-y: 41%, center;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  position: relative;
  width: 100%;
}

.contacts__map-img {
  margin: 0 auto;
  position: relative;
  z-index: -2;
  width: 100%;

  img {
    width: 100%;
  }
}

.contacts__write {
  @include reset-list;
  margin: auto auto 39px;
  width: 80%;
}

@media screen and (min-width: $tablet-width) {
  .contacts-wrapper {
    @include tablet-container;
    width: 100%;
  }

  .contacts__title {
    @include reset-list;
    margin-bottom: 45px;
    padding-top: 55px;

    @include set-font (bold, 43px, 50px);
    text-align: left;
    width: 100%;
  }

  .contacts__list {
    @include reset-list;
    flex-direction: row;
    flex-wrap: nowrap;

    @include set-font (normal, 17px, 30px);

    tbody {
      @include reset-list;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
    }

    tr {
      @include reset-list;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 50%;
    }
    width: 100%;
  }

  .contacts__field {
    @include reset-list;
    margin-bottom: 33px;
    display: flex;
    align-items: flex-start;
  }

  .contacts__value {
    @include reset-list;
    margin-bottom: 37px;
    display: flex;
    align-items: flex-start;
  }

  .contacts__map {
    @include reset-list;
  }

  .contacts__map-img {
    width: 100%;
    height: 457px;
  }

  .contacts__write {
    @include reset-list;
    margin: auto auto 57px;
    width: 33.9%;
  }
}

@media screen and (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 104px;
    margin-top: 81px;
    padding: 0 50px;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
  }

  .contacts-wrapper {
    @include reset-list;
    margin-left: 168px;
    padding-top: 81px;
    flex-direction: column;
    width: 33.3%;
  }

  .contacts__title {
    @include reset-list;
    margin-bottom: 49px;

    @include set-font (bold, 53px, 57px);
    width: 100%;
  }

  .contacts__list {
    @include reset-list;
    margin-left: 6px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: flex-start;

    tbody {
      @include reset-list;
      flex-direction: column;
      width: 100%;
    }

    tr {
      @include reset-list;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
    }
    width: 100%;
  }

  .contacts__field {
    @include reset-list;
    margin-right: 22px;
    display: flex;
    align-items: flex-start;
    width: 20%;
  }

  .contacts__value {
    @include reset-list;
    margin-bottom: 29px;
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .contacts__map {
    @include reset-list;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 45.6%;
    min-height: 457px;
  }

  .contacts__write {
    @include reset-list;
    position: absolute;
    left: 176px;
    bottom: 40px;
    width: 227px;
  }
}
