/* copyright */
.copyright {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include paint-bg (#f1f1f1, $black);
  min-height: 80px;
}

.copyright__link {
  @include reset-list;
  text-decoration: none;
  color: inherit;
}

.copyright__text {
  @include reset-list;
  @include set-font (bold, 19px, 18px);
}
