/* copyright */
.copyright {
  @include reset-list;
  padding-top: 21px;
  padding-bottom: 21px;
}

.copyright__link {
  @include reset-list;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  color: inherit;
  min-height: 38px;
}

.copyright__text {
  @include reset-list;
  margin-right: 20px;

  @include set-font (bold, 19px, 18px);
}

.copyright__image {
  @include reset-list;
  vertical-align: middle;
  width: 27px;
  height: 34px;
}

@media screen and (min-width: $tablet-width) {
  .copyright {
    @include reset-list;
  }

  .copyright__link {
    text-align: right;
  }
}
