/* copyright */
.copyright {
  @include reset-list;
  padding: 21px 0;
}

.copyright__link {
  @include reset-list;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.copyright__text {
  @include reset-list;
  display: inline-block;

  @include set-font (bold, 19px, 18px);
}

.copyright__image {
  @include reset-list;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10%;
  margin-right: 0;
  width: 27px;
  height: 34px;
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width) {
  .copyright {
    @include reset-list;
  }

  .copyright__link {
    text-align: left;
  }

  .copyright__text {
    @include reset-list;
    margin-bottom: 16px;
  }

  .copyright__image {
    @include reset-list;
    margin-left: 26px;
  }
}
