/* form */
.form {
  @include reset-list;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  @include set-font (inherit, inherit, inherit);
  border: none;
  /*border-top: 1px solid #63d1bb;*/
  width: 100%;
}

.form__legend {
  @include reset-list;
  margin-bottom: 25px;
  padding-right: 25px;
  position: relative;

  @include set-font (bold, 17px, 16px);
  text-transform: uppercase;
  text-decoration: none;
  color: #63d1bb;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 62px;
    background-color: #63d1bb;
    width: 198px;
    height: 1px;

    & .form-field__email {
      width: 179px;
    }
  }
}

.form__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  min-height: 100px;
}

.form__option {
  @include reset-list;
  display: flex;
  position: relative;

  &--color {
    margin-bottom: 18px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    label {
      padding-top: 11px;
      padding-bottom: 14px;
    }
  }
}

.form__item {
  @include reset-list;
  padding-bottom: 17px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $black;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &--userdata {
    padding-bottom: 18px;
    margin-bottom: 21px;
  }

  &--dop-info {
    @include reset-list;
    padding: 0 15px;
    border: 2px solid $black;
  }
}

.form__label {
  @include reset-list;
  padding-left: 63px;
  padding-bottom: 15px;
  padding-top: 8px;

  @include set-font (bold, 17px, 18px);
  color: $black;

  &--radio,
  &--checkbox {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $black;
      width: 36px;
      height: 36px;
    }

    &:hover::before {
      border: 2px solid #63d1bb;
    }
  }

  &--radio {
    &::before {
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 13px;
      left: 13px;
      background-color: #63d1bb;
      border-radius: 50%;
      width: 14px;
      height: 14px;
    }
  }

  &--checkbox {
    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 7px;
      left: 9px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 22px;
      height: 22px;
    }
  }

  &--name {
    @include reset-list;
    margin-bottom: 15px;
  }
}

.form__input {
  @include reset-list;
  @include set-font (normal, 17px, 18px);
  border: none;

  &--radio {
    display: none;
  }

  &--checkbox {
    display: none;
  }

  &--info,
  &--phone,
  &--email {
    @include reset-list;
    opacity: 0.3;
  }

  &[type="radio"]:checked + label::after,
  &[type="checkbox"]:checked + label::after {
    display: block;
  }
}

.form__textarea {
  @include reset-list;
  padding-top: 12px;
  padding-bottom: 17px;

  @include set-font (normal, 17px, 18px);
  font-family: inherit;
  border: none;
  opacity: 0.3;
}

@media screen and (min-width: $tablet-width) {
  .form {
    @include reset-list;
    padding-top: 30px;
    padding-bottom: 28px;
    border: none;
    position: relative;
    z-index: 60;
  }

  .form__legend {
    @include reset-list;
    position: absolute;
    left: 6.6%;
    top: 17%;

    &::after {
      display: none;
    }
  }

  .form__list {
    margin-left: auto;
    padding-right: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65.2%;
  }

  .form__option {
    @include reset-list;
    margin-bottom: 24px;
    width: 100%;

    &--color {
      margin-bottom: 21px;
      width: 47.6%;
    }

    label {
      padding-top: 13px;
      padding-bottom: 24px;
    }
  }

  .form__item {
    margin-left: auto;
    border: none;
    width: 100%;

    &--phone,
    &--email,
    &--dop-info {
      margin-right: 50px;
      box-sizing: border-box;
      width: 65.2%;
    }

    &--dop-info {
      padding: 0;
      border: 2px solid $black;
    }

    &--userdata {
      padding-bottom: 18px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      border: none;
    }
  }

  .form__label {
    @include set-font (bold, 19px, 18px);
    padding-top: 14px;
    padding-bottom: 21px;
    padding-left: 79px;

    &--radio,
    &--checkbox {
      &::before {
        width: 48px;
        height: 48px;
      }
    }

    &--radio {
      &::after {
        top: 16px;
        left: 16px;
        width: 20px;
        height: 20px;
      }
    }

    &--checkbox {
      &::after {
        top: 8px;
        left: 10px;
        width: 34px;
        height: 34px;
      }
    }

    &--name {
      @include reset-list;
      padding-bottom: 20px;
      margin-right: 25px;
    }
  }

  .form__input {
    @include set-font (normal, 20px, 22px);

    &--phone,
    &--email {
      padding-left: 13px;
      background-color: inherit;
      box-sizing: border-box;
    }

    &--phone,
    &--email,
    &--info {
      padding-left: 16px;
      padding-bottom: 14px;
      border-bottom: 2px solid $black;
      width: 100%;
      opacity: 1;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.3);
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.3);
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(0, 0, 0, 0.3);
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .form__textarea {
    padding: 13px 15px 6px;

    @include set-font (normal, 19px, 20px);
    opacity: 1;
    color: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: $desktop-width) {
  .form {
    margin: 0;
  }

  .form__list {
    margin: auto;
    padding-right: 0;
    width: 60.8%;
    max-width: 1150px;
  }

  .form__item {
    margin: auto;
    width: 60.8%;
    max-width: 1150px;

    &--userdata {
      padding-bottom: 38px;
      width: 100%;
    }
  }

  .form__option {
    margin-bottom: 21px;

    &--color {
      width: 26.3%;
    }
  }

  .form__input--info {
    padding-left: 18px;
  }

  .form__input--phone {
    padding-left: 10px;
  }
}
