/* form-field */
.form-field__type {
  margin-bottom: 30px;
}

.form-field__color {
  margin-bottom: 28px;
}

.form-field__fio {
  margin-bottom: 32px;

  legend {
    margin-bottom: 29px;
  }
}

.form-field__phone,
.form-field__email {
  margin-bottom: 31px;

  legend {
    margin-bottom: 22px;
  }
}

.form-field__extra {
  margin-bottom: 15px;

  legend {
    margin-bottom: 27px;
  }
}

@media screen and (min-width: $tablet-width) {
  .form-field {
    @include reset-list;

    legend {
      @include reset-list;
      top: 22%;
    }
  }

  .form-field__type {
    padding-top: 15px;
    padding-bottom: 24px;

    legend {
      top: 17%;
    }
  }

  .form-field__color {
    @include reset-list;
    padding-top: 51px;
    padding-bottom: 26px;
    background-color: $light-grey;
  }

  .form-field__fio {
    padding-top: 56px;
    padding-bottom: 46px;
  }


  .form-field__email {
    background-color: $light-grey;
  }

  .form-field__phone {
    @include reset-list;
    padding-bottom: 0;
    background-color: $light-grey;
  }

  .form-field__extra {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: $desktop-width) {
  .form-field__color {
    ul {
      width: 78.5%;
      margin-left: 20%;
    }
  }
}
