/* form-field */
.form-field__extra {
  margin-bottom: 15px;
}

@media screen and (min-width: $tablet-width) {
  .form-field__color {
    background-color: $light-grey;
  }

  .form-field__email {
    background-color: $light-grey;
  }

  .form-field__phone {
    padding-bottom: 0;
    background-color: $light-grey;
  }

  .form-field__extra {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: $desktop-width) {
  .form-field__color {
    ul {
      width: 78.5%;
      margin-left: 20%;
    }
  }
}
