/* form */
.form {
  @include reset-list;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  @include set-font (inherit, inherit, inherit);
  border: none;
  border-top: 1px solid #63d1bb;
  width: 100%;
}

@media screen and (min-width: $tablet-width) {
  .form {
    @include reset-list;
    padding-top: 40px;
    padding-bottom: 40px;
    border: none;
    position: relative;
    z-index: 60;
  }
}

@media screen and (min-width: $desktop-width) {
  .form {
    margin: 0;
  }
}
