/* knitting */
.knitting {
  margin: 0 auto;
}

.knitting__promo {
  @include mobile-container;
  padding-top: 23px;
  margin-bottom: 23px;

  @include set-font (inherit, 13px, 24px);
  box-sizing: border-box;
  width: 100%;
}

.knitting__form {
  @include mobile-container;
  margin-bottom: 57px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.knitting__fields {
  @include set-font (normal, 14px, 16px);
}

.knitting__required {
  @include reset-list;
  margin-bottom: 30px;

  @include set-font (normal, 14px, 16px);
}

.knitting__wrapper {
  @include reset-list;
}

.knitting__send {
  @include reset-list;
  display: block;
}

.knitting__send-order {
  width: 100%;
}

@media screen and (min-width: $tablet-width) {
  .knitting__promo {
    @include tablet-container;
    margin-bottom: 41px;
    padding-top: 73px;

    @include set-font (inherit, 17px, 30px);
    width: 100%;
  }

  .knitting__form {
    @include reset-list;
    margin-bottom: 50px;
    width: 100%;
  }

  .knitting__wrapper {
    @include tablet-container;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  .knitting__send {
    order: 0;
    width: 230px;
  }

  .knitting__required {
    @include reset-list;
    order: 1;

    @include set-font (normal, 17px, 30px);
  }
}

@media screen and (min-width: $desktop-width) {
  .knitting__promo {
    width: 60%;
    padding-left: 0;
    padding-right: 0;
  }

  .knitting__wrapper {
    @include desktop-container;
    padding: 0;
    width: 60%;
  }
}
