/* main-nav */
.main-nav {
  display: flex;
  width: 320px;
  margin: 0 auto;
  /*временно для сетки*/
  min-height: 316px;
  box-shadow: 0 0 5px red;

  @include paint-bg ($white, $black);
}

.main-nav__toggle {
  @include reset-list;
  @include paint-bg (inherit, inherit);
}

.main-nav__site-wrapper,
.main-nav__user-wrapper {
  display: flex;

  @include reset-list;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;

  @include reset-list;
  /*временно для сетки*/
  min-height: 79px;
}

.main-nav__additional-wrapper {
  display: none;
}

.main-nav__additional {
  display: flex;
  flex-direction: column;
  list-style: none;

  @include reset-list;
}

@media screen and (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    width: 668px;
    /*временно для сетки*/
    min-height: 133px;
  }

  .main-nav__toggle--hidden {
    display: none;
  }

  .main-nav__user-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    order: 2;
    width: 348px;
  }

  .main-nav__site-wrapper {
    flex-direction: row;
    order: 3;
    width: 307px;
  }

  .main-nav__additional-wrapper {
    display: flex;
    flex-direction: row;
    order: 4;
    width: 265px;
  }

  .main-nav__list,
  .main-nav__additional {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: $desktop-width) {
  .main-nav {
    width: 1050px;
  }

  .main-nav__additional-wrapper {
    display: flex;
    order: 4;
  }

  .main-nav__user-wrapper {
    width: 449px;
    order: 3;
  }

  .main-nav__site-wrapper {
    width: 376px;
    order: 1;
  }

  .main-nav__additional-wrapper {
    width: 1050px;
  }
}
