/* main-nav */
.main-nav {
  @include reset-list;
  @include paint-bg ($white, $black);
  background-color: transparent;
  position: relative;
}

.main-nav__logo {
  @include reset-list;
}

.main-nav__logo-link {
  @include reset-list;
  padding: 22px 0 21px;
  display: block;
  text-decoration: none;
}

.main-nav__logo-image {
  @include reset-list;
  margin: 0 auto;
  padding: 0 30px;
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  @include reset-list;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: block;

  @include paint-bg (inherit, inherit);
  cursor: pointer;
  border: none;
  width: 70px;
  height: 77px;
}

.main-nav__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (max-width: $mobile-only) {
  .main-nav--open .main-nav__toggle {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-menu-close.svg");
      background-repeat: no-repeat;
      z-index: 3;
      top: 30px;
      right: 30px;
      width: 20px;
      height: 20px;
    }
  }

  .main-nav--close .main-nav__list {
    display: none;
  }

  .main-nav--close .main-nav__toggle {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-menu-open.svg");
      background-repeat: no-repeat;
      z-index: 4;
      top: 32px;
      right: 31px;
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .main-nav__wrapper {
    @include tablet-container;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
  }

  .main-nav__logo {
    order: 0;
    cursor: pointer;
  }

  .main-nav__logo-link {
    @include reset-list;
    margin-right: 47px;
  }

  .main-nav__logo-image {
    @include reset-list;
  }

  .main-nav__list {
    @include reset-list;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .main-nav {
    @include reset-list;
  }

  .main-nav__wrapper {
    @include desktop-container;
    justify-content: space-between;
    width: 100%;
  }

  .main-nav__logo {
    order: 2;
    display: block;
  }
}
