/*making*/
.making {
  @include reset-list;
  margin: 0 auto;
  width: 260px;
}

@media screen and (min-width: $tablet-width) {
  .making {
    width: 668px;
  }
}

@media screen and (min-width: $desktop-width) {
  .making {
    width: 1050px;
  }
}
