/*making*/
.making {
  @include reset-list;
  margin: 0 auto;
}

.making__wrapper {
  @include mobile-container;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: $tablet-width) {
  .making__wrapper {
    @include tablet-container;
    width: 100%;
  }
}

@media screen and (min-width: $desktop-width) {
  .making__wrapper {
    @include desktop-container;
    width: 100%;
  }
}
