/* modal-basket */
.modal-basket {
  padding: 0 30px;
  margin: 0 auto;
  width: 260px;
  height: 336px;
}

.modal-basket__title {
  text-transform: uppercase;

  @include set-font(bold, 25px, 30px);
}

.modal-basket__choice {
  @include set-font (normal, 15px, 30px);
}

.modal-basket__list {
  list-style: none;
}

.modal-basket__add {
  font-family: inherit;
}

.modal-basket__add-to {
  font-family: inherit;
  border: none;
  text-transform: uppercase;

  @include set-font (bold, 17px, 16px);
  @include paint-bg (#63d1bb, $white);
}

@media screen and (min-width: $tablet-width) {
  .modal-basket {
    padding: 0 101px;
    width: 566px;
    height: 336px;
  }
}

@media screen and (min-width: $desktop-width) {
  .modal-basket {
    padding: 0 342px;
    width: 566px;
    height: 336px;
  }
}
