/* page-footer */
.page-footer {
  @include paint-bg ($light-grey, $black);
}

.page-footer__wrapper {
  @include mobile-container;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.page-footer__logo {
  @include reset-list;

  &--hidden {
    display: none;
  }
}

.page-footer__social {
  @include reset-list;
  color: inherit;
}

.page-footer__copyright {
  @include reset-list;
  color: inherit;
}

@media screen and (min-width: $tablet-width) {
  .page-footer {
    padding: 52px 0 48px;
  }

  .page-footer__wrapper {
    @include tablet-container;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .page-footer__logo {
    @include reset-list;

    &--hidden {
      display: block;
    }
    width: auto;
  }

  .page-footer__logo-image {
    @include reset-list;
  }

  .page-footer__social {
    @include reset-list;
    width: auto;
  }

  .page-footer__copyright {
    @include reset-list;
    width: auto;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-footer {
    padding: 51.3px 0 44.3px;
  }

  .page-footer__wrapper {
    @include desktop-container;
    width: 100%;
  }
}
