/* page-main */
.page-main {
  margin: 0 auto;
  background-size: 320px 373px;
  border-top: 1px solid $border-grey;

  &--inner {
    background-image: none;
  }
}

.page-main__wrapper {
  @include mobile-container;
  margin: 0 auto;
  text-align: center;
  background-color: $light-grey;
  box-sizing: border-box;
  min-height: 177px;
  width: 100%;
}

.page-main__title {
  @include reset-list;
  padding-top: 70px;
  display: block;
  text-align: center;

  @include set-font (bold, 27px, 30px);
}

@media screen and (min-width: $tablet-width) {
  .page-main {
    margin-top: -50px;

    &--inner {
      border: none;
    }
  }

  .page-main__wrapper {
    @include tablet-container;
    padding-top: 95px;
    border-top: 1px solid $border-grey;
    box-sizing: border-box;
    width: 100%;
    min-height: 226px;
  }

  .page-main__title {
    @include reset-list;
    margin: 0 auto;

    @include set-font (bold, 43px, 50px);
    width: 100%;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-main {
    margin-top: -60px;
  }

  .page-main__wrapper {
    @include reset-list;
    padding-top: 93px;
    padding-bottom: 103px;
  }

  .page-main__title {
    @include desktop-container;
    @include set-font (bold, 53px, 57px);
    max-width: 1150px;
  }
}
