/* page-footer */
.page-footer {
  @include paint-bg ($light-grey, $black);
}

.page-footer__wrapper {
  @include mobile-container;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.page-footer__logo {
  @include reset-list;

  &--hidden {
    display: none;
  }
}

.page-footer__social {
  @include reset-list;
  color: inherit;
}

.page-footer__copyright {
  @include reset-list;
  color: inherit;
}

@media screen and (min-width: $tablet-width) {
  .page-footer {
    padding: 49.5px 0 46px;
  }

  .page-footer__wrapper {
    @include tablet-container;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .page-footer__logo {
    @include reset-list;
    margin-right: 22%;
    padding-left: 1.3px;

    &--hidden {
      display: block;
    }
    width: 15%;
  }

  .page-footer__logo-image {
    @include reset-list;
  }

  .page-footer__social {
    margin-right: auto;
    width: 25%;
  }

  .page-footer__copyright {
    width: 32%;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-footer {
    padding: 51.3px 0 44.3px;
  }

  .page-footer__wrapper {
    @include desktop-container;
    width: 100%;
  }

  .page-footer__logo {
    margin-right: 22%;
  }

  .page-footer__copyright {
    width: 20.5%;
  }
}
