/* page-header */
.page-header {
  display: flex;
  flex-direction: column;

  @include paint-bg ($white, $black);
}

.page-header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  height: 79px;
  }

@media screen and (min-width: $tablet-width) {
  .page-header {
    width: 668px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 133px;
  }

  .page-header__logo {
    order: 1;
    width: 156px;
    min-height: 88px;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-header {
    width: 1050px;
  }

  .page-header__logo {
    order: 2;
    min-height: 88px;
  }
}
