/* page-footer */
.page-footer {
  @include paint-bg ($light-grey, $black);
}

.page-footer__wrapper {
  @include mobile-container;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.page-footer__logo {
  @include reset-list;
  cursor: pointer;

  &--hidden {
    display: none;
  }

  &:hover .page-footer__logo-image {
    fill: #63d1bb;
  }

  &:active .page-footer__logo-image {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.page-footer__logo-image {
  cursor: pointer;
  fill: $black;
}

.page-footer__social {
  @include reset-list;
  color: inherit;
}

.page-footer__copyright {
  @include reset-list;
  color: inherit;
}

@media screen and (min-width: $tablet-width) {
  .page-footer {
    padding: 51px 0 42px;
  }

  .page-footer__wrapper {
    @include tablet-container;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .page-footer__logo {
    @include reset-list;
    margin-bottom: 10px;

    &--hidden {
      display: block;
    }
    width: auto;
  }

  .page-footer__logo-image {
    @include reset-list;
  }

  .page-footer__social {
    @include reset-list;
    width: auto;
  }

  .page-footer__copyright {
    @include reset-list;
    width: auto;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include desktop-container;
    width: 100%;
  }
}
