/* parameter */
.parameter {
  @include reset-list;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include paint-bg (inherit, inherit);
  width: 100%;
}

.parameter__item {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30%;
}

.parameter__size {
  @include reset-list;
  padding: 16px 34px;
  display: flex;
  justify-content: center;

  @include set-font (bold, 17px, 16px);
  @include paint-bg ($white, $dark-grey);
  border: 2px solid $border-grey;
  cursor: pointer;
  width: 100%;

  &:hover {
    border: 2px solid #c7c7c7;
  }

  &:active {
    border: 2px solid #62d1ba;
  }
}

@media screen and (min-width: $tablet-width) {
  .parameter {
    width: 75.4%;
  }

  .parameter__size {
    padding: 17px 49px;
  }
}
