/* products */
.products {
  @include reset-list;
  margin: 0 auto 40px;

  @include paint-bg ($white, $dark-grey);
}

.products__wrapper {
  @include mobile-container;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.products__header {
  margin: 27px 0 10px;
}

.products__title {
  @include reset-list;
  margin-bottom: 6px;

  @include set-font (bold, 25px, 30px);
  color: $black;
}

.products__rating {
  @include reset-list;
  margin-bottom: 10px;
  text-transform: uppercase;

  @include set-font (bold, 17px, 20px);
  @include paint-bg (inherit, #63d1bb);
}

.products__promo {
  @include reset-list;
  margin-bottom: 17px;

  @include set-font (normal, 15px, 24px);
}

.products__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0 auto 29px;

  @include set-font (normal, 15px, 25px);

  tr {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-grey;
  }
}

.products__field {
  @include reset-list;
  padding-right: 24px;
  display: flex;
  align-items: center;
  width: 70px;
  min-height: 38px;
}

.products__value {
  @include reset-list;
  display: flex;
  align-items: center;
  width: 151px;
  min-height: 38px;
}

.products__picture {
  padding: 0;
  margin: 0 auto 26px;

  img {
    width: 100%;
  }
}

.products__price {
  padding: 0;
  margin: 0 auto 25px;
  text-align: center;

  @include set-font (bold, 17px, 24px);
}

.products__order {
  @include reset-list;
  display: block;
  align-self: center;
}

@media screen and (min-width: $tablet-width) {
  .products {
    margin: 0 auto 70px;
    padding: 0;
  }

  .products__wrapper {
    @include tablet-container;
    width: 100%;
  }

  .products__header {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .products__title {
    @include reset-list;
    margin-right: 10px;
    margin-left: -4px;
    margin-bottom: 40px;

    @include set-font (bold, 43px, 50px);
  }

  .products__rating {
    @include reset-list;
    margin-right: 14px;
    padding-top: 10px;

    @include set-font (bold, 17px, 17px);
    text-align: center;
    width: 98px;
  }

  .products__main {
    position: relative;
    width: 44%;
  }

  .products__promo {
    @include reset-list;
    margin-bottom: 43px;

    @include set-font (normal, 17px, 30px);
  }

  .products__list {
    @include reset-list;
    margin-right: 378px;
    margin-bottom: 52px;
    width: 100%;
  }

  .products__picture {
    @include reset-list;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -127.4%;
    min-width: 333px;
    width: 100%;
    height: 404px;

    img {
      height: 404px;
      width: 100%;
    }
  }

  .products__price {
    @include reset-list;
    margin-bottom: 30px;
  }

  .products__order {
    @include reset-list;
  }
}

@media screen and (min-width: $desktop-width) {
  .products {
    margin: 0 auto;
    padding-bottom: 95px;
  }

  .products__wrapper {
    @include desktop-container;
    width: 100%;
  }

  .products__header {
    margin-top: 124px;
    margin-bottom: 58px;
    position: relative;
    width: 100%;
  }

  .products__title {
    @include reset-list;
    order: 1;
    position: absolute;
    z-index: 2;
    /*left: 169px;*/
    left: 15%;

    @include set-font (bold, 53px, 57px);
  }

  .products__rating {
    @include reset-list;
    margin: 0 33px;
    padding-top: 15px;
    order: 0;
  }

  .products__main {
    /*margin-left: 175px;*/
    margin-left: 15.2%;
    width: 28.5%;
  }

  .products__promo {
    margin-bottom: 50px;
    order: 2;
  }

  .products__list {
    margin-bottom: 112px;
  }

  .products__field {
    padding-right: 27px;
  }

  .products__picture {
    z-index: 0;
    /*left: 350px;*/
    left: 118%;
    /* width: 525px; */
    width: 179%;
    height: 636px;

    img {
      /*width: 525px;*/
      height: 636px;
    }
  }

  .products__price {
    margin-bottom: 33px;

    @include set-font (bold, 20px, 24px);
  }
}
