/* promotion */
.promotion {
  @include reset-list;
  margin: 0 auto 29px;

  @include set-font (bold, inherit, inherit);
  @include paint-bg ($white, $black);
}

.promotion__wrapper {
  @include mobile-container;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.promotion__title {
  @include reset-list;
  margin-top: 27px;
  margin-bottom: 28.5px;
  margin-left: -2px;

  @include set-font (bold, 25px, 30px);
}

.promotion__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  list-style: none;
}

.promotion__item {
  @include reset-list;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;

  @include set-font (bold, 17px, 20px);
}

.promotion__description {
  @include reset-list;
  padding-top: 56px;
}

@media screen and (min-width: $tablet-width) {
  .promotion {
    @include reset-list;
    margin: 0 auto 33px;
  }

  .promotion__wrapper {
    @include tablet-container;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .promotion__title {
    @include reset-list;
    margin-top: 51px;
    margin-bottom: 45.5px;
    margin-left: -6px;

    @include set-font (bold, 43px, 50px);
  }

  .promotion__list {
    @include reset-list;
    margin-left: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .promotion__item {
    @include reset-list;
    margin-bottom: 52px;
    margin-right: 4.5%;

    &--clean {
      order: 0;
    }

    &--price {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--hand-made {
      order: 2;
    }

    &--native {
      order: 4;
    }

    &--present {
      order: 6;
    }

    @include set-font (bold, 20px, 22px);
    width: 45.5%;
  }

  .promotion__description {
    @include reset-list;
    padding-top: 58px;
  }
}

@media screen and (min-width: $desktop-width) {
  .promotion {
    @include reset-list;
    margin: 0 auto 37px;
  }

  .promotion__wrapper {
    @include desktop-container;
    width: 100%;
  }

  .promotion__list {
    @include reset-list;
    margin: 0 175px;
    margin-left: 175.5px;
    width: 66.7%;
  }

  .promotion__title {
    @include reset-list;
    margin-left: 169px;
    margin-top: 57px;
    margin-bottom: 43px;

    @include set-font (bold, 53px, 57px);
    width: 100%;
  }

  .promotion__item {
    margin-bottom: 54px;
    width: 45.5%;
    margin-right: 4.5%;
  }
}
