/* reviews */
.reviews {
  @include reset-list;
  padding-bottom: 50px;

  @include paint-bg ($white, $dark-grey);
}

.reviews__wrapper {
  @include mobile-container;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.reviews__title {
  @include reset-list;
  margin-top: 26px;
  margin-bottom: 30px;

  @include set-font (bold, 25px, 30px);
  color: $black;
}

.reviews__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.reviews__item {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.reviews__text {
  @include reset-list;
  margin-bottom: 35px;

  @include set-font (normal, 15px, 30px);
}

.reviews__author {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  @include reset-list;
  margin-bottom: 13px;

  @include set-font (bold, 17px, 24px);
  font-style: normal;
  color: $black;
}

.reviews__author-mail {
  @include reset-list;
  margin-bottom: 13px;

  @include set-font (normal, 17px, 30px);
}

.reviews__toggles {
  @include reset-list;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.reviews__toggle {
  @include reset-list;
  padding-top: 13px;
  padding-bottom: 12px;

  @include set-font (bold, 17px, 24px);
  @include paint-bg ($white, $black);
  border: 1px solid $border-grey;
  width: 50%;

  &--left {
    padding-left: 37px;
    padding-right: 40px;
  }

  &--right {
    padding-right: 37px;
    padding-left: 40px;
    border-left: none;
  }
}

.reviews__comment {
  @include reset-list;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: $tablet-width) {
  .reviews {
    @include reset-list;
    padding-bottom: 85px;
    padding-top: 76px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
  }

  .reviews__wrapper {
    @include tablet-container;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 40;
  }

  .reviews__title {
    @include reset-list;
    margin-right: auto;
    margin-left: 50px;
    order: 0;

    @include set-font (bold, 43px, 50px);
    width: 54%;
  }

  .reviews__list {
    @include reset-list;
    margin-top: 45px;
    flex-direction: row;
    order: 3;
  }

  .reviews__item {
    @include reset-list;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .reviews__text {
    @include reset-list;
    margin-bottom: 57px;

    @include set-font (normal, 17px, 30px);
  }

  .reviews__comment {
    order: 1;
    width: 175px;
    max-height: 20px;
  }

  .reviews__author {
    @include reset-list;
    order: 4;
    width: 70%;
  }

  .reviews__author-name {
    @include reset-list;
    margin-bottom: 5px;

    @include set-font (bold, 17px, 30px);
  }

  .reviews__author-mail {
    @include reset-list;
    margin-bottom: 45px;

    @include set-font (normal, 17px, 30px);
  }

  .reviews__toggles {
    @include reset-list;
    margin-right: 50px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
    order: 5;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 167px;
  }

  .reviews__toggle {
    @include reset-list;
    border: none;
    width: 167px;

    &--left,
    &--right {
      width: 74px;
      height: 44px;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .reviews {
    @include reset-list;
    margin: 0 auto;
    padding: 69px 0 70px;
    width: 1050px;
  }

  .reviews__wrapper {
    @include reset-list;
    padding-left: 170px;
    width: 100%;
  }

  .reviews__title {
    @include reset-list;
    margin-right: auto;

    @include set-font (bold, 53px, 57px);
  }

  .reviews__list {
    margin-top: 44px;
    width: 90%;
  }

  .reviews__text {
    margin-bottom: 36px;
  }

  .reviews__author {
    margin-left: 1px;
  }

  .reviews__author-name {
    margin-bottom: 2px;
  }

  .reviews__author-mail {
    margin-left: -2px;
    margin-bottom: 94px;
  }

  .reviews__toggles {
    margin-right: 0;
    margin-bottom: 100px;
  }

  .reviews__toggle {
    width: 175px;

    &--left,
    &--right {
      width: 81px;
      height: 48px;
    }
  }

  .reviews__comment {
    margin-right: 0;
    margin-top: 9px;
    width: 172px;
  }
}
