/* site-list */
.site-list {
  @include reset-list;

  list-style: none;
  width: 320px;
  /*временно для сетки*/
  min-height: 158px;

  @include paint-bg ($white, $black);
}

.site-list__item {
  display: flex;
  align-items: center;
  align-content: center;

  @include reset-list;

  padding-left: 75px;
  width: 245px;
  min-height: 78px;
}

.site-list__link {
  display: block;
  text-decoration: none;

  @include set-font (bold, 17px, 24px);
  @include paint-bg (inherit, inherit);
}

@media screen and (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;

    @include reset-list;
    width: 307px;
    min-height: 45px;
  }

  .site-list__item {
    display: flex;
    align-items: center;

    @include reset-list;

    width: 140px;
    min-height: 45px;
  }

  .site-list__link {
    font-size: 15px;
  }
}

@media screen and (min-width: $desktop-width) {
  .site-list {
    width: 405px;
  }

  .site-list__item {
    width: 184px;
    margin-right: 35px;
  }

  .site-list__link {
    font-size: 17px;
  }
}
