/* site-list */
.site-list {
  @include reset-list;
  list-style: none;

  @include paint-bg ($white, $black);
  width: 100%;
}

.site-list__item {
  @include reset-list;
  display: flex;
  align-items: center;
  align-content: center;
  border-top: 1px solid $border-grey;
  width: 100%;
  min-height: 78px;
}

.site-list__link {
  @include mobile-container;
  padding-left: 76px;
  display: block;
  text-decoration: none;

  @include set-font (bold, 17px, 24px);
  @include paint-bg (inherit, inherit);
  box-sizing: border-box;
}

@media screen and (min-width: $tablet-width) {
  .site-list {
    @include reset-list;
    padding-top: 10px;
    order: 1;
    background-color: transparent;
    width: 50%;
  }

  .site-list__item {
    @include reset-list;
    border: none;
    min-height: 40px;
  }

  .site-list__link {
    @include reset-list;
    font-size: 15px;
    width: 100%;
  }
}

@media screen and (min-width: $desktop-width) {
  .site-list {
    @include reset-list;
    justify-content: space-between;
    order: 0;
    width: 38.3%;
  }

  .site-list__item {
    @include reset-list;
    min-height: 88px;

    &--knitting {
      text-align: left;
      width: 50%;
    }

    &--catalog {
      width: 43%;
      border-right: 1px solid #e5e5e5;
    }
  }

  .site-list__link {
    font-size: 17px;
  }
}
