/* social */
.social__list {
  @include reset-list;
  padding: 20px 28px 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid $border-grey;
}

.social__item {
  @include reset-list;
  margin-right: 20px;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.social__link {
  @include reset-list;
  display: block;
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: $tablet-width) {
  .social__list {
    @include reset-list;
    border: none;
  }

  .social__item {
    @include reset-list;
    margin-right: 20px;
  }
}

@media screen and (min-width: $desktop-width) {
  .social__list {
    margin: 0;
    justify-content: center;
  }
}
