/* user-list*/
.user-list {
  @include reset-list;

  list-style: none;
  width: 320px;
  /*временно для сетки*/
  min-height: 158px;

  @include paint-bg ($white, $black);
}

.user-list__item {
  display: flex;
  align-items: center;
  align-content: center;

  @include reset-list;

  padding-left: 75px;
  width: 245px;
  min-height: 78px;
}

.user-list__link {
  @include set-font (bold, 17px, 24px);
  @include paint-bg (inherit, inherit);

  text-decoration: none;
}

@media screen and (min-width: $tablet-width) {
  .user-list {
    display: flex;
    justify-content: space-between;

    @include reset-list;
    width: 348px;
    min-height: 88px;
  }

  .user-list__item {
    display: flex;
    align-items: center;

    @include reset-list;

    &--search {
      width: 80px;
    }

    &--basket {
      width: 234px;
      justify-content: flex-end;
    }
  }

  .user-list__link {
    display: block;
  }
}

@media screen and (min-width: $desktop-width) {
  .user-list {
    width: 350px;
  }
}
