/* user-list*/
.user-list {
  @include reset-list;
  list-style: none;

  @include paint-bg ($white, $black);
  width: 100%;
}

.user-list__item {
  display: flex;
  align-items: center;
  align-content: center;

  @include reset-list;
  min-height: 78px;
  border-top: 1px solid $border-grey;
  width: 100%;
}

.user-list__link {
  @include mobile-container;
  padding-left: 76px;
  display: block;

  @include set-font (bold, 17px, 24px);
  @include paint-bg (inherit, inherit);
  text-decoration: none;
  box-sizing: border-box;
}

@media screen and (min-width: $tablet-width) {
  .user-list {
    @include reset-list;
    margin-left: auto;
    order: 0;
    background-color: transparent;
    width: 52%;
  }

  .user-list__item {
    @include reset-list;
    border: none;

    &--search {
      @include reset-list;
      border: none;
      border-left: 1px solid $border-grey;
      border-right: 1px solid $border-grey;
      width: 23.5%;
    }

    &--basket {
      flex-grow: 1;
    }
    width: inherit;
    min-height: 88px;
  }

  .user-list__link {
    @include reset-list;
    text-align: right;
    width: 100%;
  }

  .user-list__search {
    &--hidden {
      display: none;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .user-list {
    @include reset-list;
    justify-content: flex-start;
    order: 1;
    width: 33.3%;
  }

  .user__item {
    @include reset-list;
    min-height: 88px;
  }

  .user-list__link {
    margin-right: 2px;
  }
}
