body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: normal;
    background-color: #ffffff;
    color: #444444;
}
