/* Миксины*/
@mixin paint-bg($background: $white, $color: $dark-grey) {
  background-color: $background;
  color: $color;
}

@mixin set-font($weight, $size, $height) {
  font: {
    weight: $weight;
    size: $size;
  }
  line-height: $height;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
}

@mixin mobile-container {
  margin: 0 auto;
  width: 320px;
  padding: 0 30px;
}

@mixin tablet-container {
  margin: 0 auto;
  width: 768px;
  padding: 0 50px;
}

@mixin desktop-container {
  margin: 0 auto;
  width: 1150px;
  padding: 0 50px;
}
